body{
  text-align:center;
  font-family:cursive,sans-serif;
  background-color:#ffffff;
  color:#918989;
  margin:0;
}

.iuAcJM {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
}

.grGor {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(33, 33, 33, 0.5); 
  pointer-events: none;
  z-index: 2;
}

.iiHstv {
  min-width: 100%;
}

.grGor h1 {
  font-size: 6em;
}

.grGor h2 {
  color: #ffffff;
  font-size: 54px;
  font-family: Shopping Font Script;
  font-weight: bold;
  line-height: 0.01em;
}

h1{
  color:#fcfcfc;
  font-size:60px;
  font-weight:300;
  font-family: Shopping Font Script;
}

h2{
  color:#1f1e1e;
  font-size:40px;
  font-family: Shopping Font Script;
}

h3{
  font-size: 4em;
  font-style: italic;
  font-family: Shopping Font Script;
  font-weight: normal;
}

.titulo-cinza{
  color:#918989;
}

.titulo-cinza{
  color:#918989;
}

.titulo-cinza{
  color:#918989;
}

section{
  width:60%;
  margin: 0 auto;
}

section section {
  width:100%;
}

p{
  font-size:20px;
  line-height:1,5;
}

#lista-presentes img, #boas-vindas img{
  width:100%;
  border-radius:2%;
}

.QRcodePix {
  width: 5em !important;
}

a{
  text-decoration: none;
  color: #918989;
  font-weight: 700;
}

.principal{
  height: 40px;
  margin: 0 auto;
}

.principal a{
  color: #0077cc;
  text-decoration: none;
  font-weight: normal;
}

.principal li{
  display: inline-block;
  line-height: 2.5;
  margin: 0 2.5em;
}

button{
  background-color:#918989;
  border: 1px solid transparent;
  padding: 2px 20px;
  border-radius: 3px;
}

img{
  width: 100%;
  border-radius: 5px;
}
